@import "tailwindcss";
@import "tailwindcss-animated";

@font-face {
  font-family: "Royal Fighter";
  src: url("/fonts/Royal Fighter Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-royal-fighter: "Royal Fighter", "sans-serif";
}

.fighter_character {
  width: 100%;
  height: 100%;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  transition: all 0.2s ease-in-out;
  position: relative;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), transparent);
}

.fighter_character.active {
  border: 4px solid #efab1c;
  animation: fighter_animation 1s infinite ease-in-out;
}

@keyframes fighter_animation {
  0% {
    border: 4px solid #efab1c;
  }

  50% {
    border: 4px solid #f54e00;
  }

  100% {
    border: 4px solid #efab1c;
  }
}

.vs_icon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(239, 171, 28, 0.8) 0%,
    rgba(239, 171, 28, 0) 60%
  );

  box-shadow: 0 0 40px 10px rgba(239, 171, 28, 0.5);
  z-index: -1;
  filter: blur(25px);
}
